*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html body{
    background-color: #180000;
     color: #B5986D;
    font-family: 'Cormorant';
    max-width: 100vw;
}
/* Pré Carregamento De Fontes */
@font-face{
    font-family: 'Inter';
    font-style: normal;
    src: url(../fonts/Inter.ttf);
}
@font-face {
    font-family:'Cormorant';
    font-style: normal;
    src: url(../fonts/Cormorant-Regular.otf);
}

        /* FOIT */
        html.fonts-loaded{
            font-family: 'Cormorant', 'Inter' cursive;
        }

/* Fim Pré Carregamento De Fontes */


/* Acessibilidade e Boas Práticas */

img {
    aspect-ratio: attr(width) / attr(height);
  }
/* Fim Acessibilidade e Boas Práticas */


.primeiro-container-background{
    background-image: url(../assets/Mask\ group.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    max-width: 100vw;
}




/* Começo Navbar */

.navbar{
    font-family: 'Cormorant';
    background:transparent;
    border-bottom: #B5986D 1px solid;
}
a.nav-link{
    letter-spacing: .9px;
    font-weight: lighter;
}
.nav-link:link, .navbar-brand:link, 
.navbar-brand:visited{
    color: #B5986D;
    text-transform: uppercase;    
}

a.nav-link:hover{
    color: #724927;
    transition: .6s;
}
a.nav-link:visited{
    color: rgb(252, 231, 205);
}
a.nav-link:active{
    color: rgb(228, 129, 112);
}
a.navbar-brand img:hover{
    width: 28px;
    height: 35px;
    transition: .1s;
}
.navbar-brand img{
    width: 30px;
    height: 37px;
}
.custom-toggler {
    background-color: #B5986D; 
    border-color: #B5986D; 
    color: #B5986D; 
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23B5986D' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  /* Fim Navbar */


  
/* Começo Hero */

.hero{
    background: transparent;
    font-family: 'Cormorant';
    color: #B5986D;
    font-weight: 700;
}
.hero img{
    width: 200px;
    height: 9.7px;
}

.title-hero h1{
    font-size: clamp(4em, 9vw, 8.5em);
    font-weight: 500;
    letter-spacing: .1em;
}
.content-hero{
    font-size: clamp(.6em, 1vw, 1.5em);
    
    font-family: 'Inter';
}

/* Fim Hero */



/* Começo Nossa História e Sobre Nós */
.titulo-h3-linha-do-tempo{
    color:#e9cea5;
    letter-spacing: 2.5px;
    font-family: 'Cormorant';
    font-size: clamp(1.5em, 1.5vw, 1.8em);
    font-weight: 600;
    text-transform: uppercase;
}
.titulo-linha-do-tempo{
    position: relative;
}
.titulo-fundo{
    font-size: clamp(2.3em, 3vw, 3.1em);
    font-weight: 1000;
    letter-spacing: 2.5px;
    font-family: 'Cormorant';
    text-transform: uppercase;
    background: linear-gradient(91.58deg, #b5986dad 0%, rgba(181, 152, 109, 0) 85.99%, rgba(181, 152, 109, 0) 1.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    /*opacity: 0.1; */
    position: absolute;
    top: -1px;
    transform: translateY(-50%);
    left: 10px;
    margin: 0;
    padding: 0;      
}
.sublinha-texto{
    content: '';
    width: 300px;
    background-color: #B5986D;
    height: 1px;
    position: relative;
    bottom: 5px;
}
.item-sublinha-texto{
    color: #B5986D;
    font-weight: 600;
    position: relative;
    bottom: 12.5px;
    left: 300px;
}
p.paragrafo-linha-do-tempo{
    text-align: justify;
    color: #cab38f;
    font-size: clamp(.8em, .9vw, 2.4em);
    padding: 0;
    margin: 0;
}
p.paragrafo-linha-do-tempo-assinatura{
    font-weight: 900;
    letter-spacing: 2px;
    font-size: clamp(1.5em, 1.2vw, 1.9em);
    border-bottom: #e9cea5 1px solid;
    padding: 0;
    margin: 0;
    text-align: start;
    color: #cab38f;
}

.timeline ul{
    list-style: url(../assets/ul.png);
    color: #B5986D;
}
.timeline ul li {
    color: #B5986D;
    margin-bottom: 70px;
    font-size: 18px;
}
.timeline ul li:last-child{
    margin-bottom: 0;
}
.timeline-content p{
    font-weight: 500;
    font-family: 'Inter';
    font-size: clamp(.1em, .9vw, 1.5em);
}
.timeline::before {
    content: '';
    position: absolute;
    height:85vh;
    width: 2.3px;
    left: 50.1%;
    margin-top: 1px;
    background-color: #B5986D;
}
.container-sobre-nos{
    line-height: 18px;
    letter-spacing: 1.1px;
}
.container-sobre-nos img{
    width: 116px;
    height: 87px;
}
.paragrafo-linha-do-tempo{
    font-family: 'Inter';
    font-size: clamp(.1em, .9vw, 1.5em);
    color: #e9cea5;
}

@media (min-width: 1440px)
{
    .conteudo-linha-do-tempo-sobre-nos{
        position: relative;
        bottom: -30%;
        transform: translateY(30%);
        margin: 0;
        padding: 0; 
    }
}

/* Fim Nossa História e Sobre Nós */




/* Começo Diferencial */
.img-selo{
    position: relative;
}
.img-selo img{
    position: absolute;
    top: -85px;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0; 
    max-width: 72px;
    max-height: 82px;
}
.container-diferencial{
    background-color: #2B0E0E;
}

/* Fim Diferencial */



/* Começo Depoimentos */
#depoimentos{
    height: 100vh;
}
.segundo-container-background{
    background-image: url(../assets/segundo-container-background.png);
    background-size:cover;
    background-position: end end;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100vw;
    position: relative;
    z-index: 1;
}
.container-depoimento{
    height: auto;
    width: 25vw;    
    display: flex;
    justify-content: center;
}
img .carousel-item{
    z-index: 3;
}
.title-fundo-depoimentos{
    font-size: clamp(7.3em, 9vw, 3.1em);
    font-weight: 1000;
    letter-spacing: 2.5px;
    font-family: 'Cormorant';
    text-transform: uppercase;
    background: linear-gradient(91.58deg, #b5986dad 0%, rgba(181, 152, 109, 0) 85.99%, rgba(181, 152, 109, 0) 1.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: absolute;
    top: 50px;
    left: 67%;
    transform: translateY(-50%);
    
    transform: translateX(-50%);
    margin: 0;
    padding: 0; 
    z-index: 1;
    mix-blend-mode:multiply;
}

.card-depoimento {
    height: auto;
    width: 25vw;
    padding-top: 45px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom: 15px;
    margin: 2px;
    border-radius: 10px;
    justify-content: center;
}
.card-img-depoimento{
    border-bottom: #B5986D 3px solid;
    border-right: #B5986D 3px solid;
}
.card-img-depoimento{
    width: 125px;
    height: 125px;
    object-fit: cover;
    padding: 7px;
}
.nome-depoimento{
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}
.p-depoimento{
    padding-top: 8px;
    text-align: justify;
}

.carousel-rating {
    color: yellow;
    padding-bottom: 5px;
    border-bottom: 2px solid #724927;
  }

.carousel-rating .star {
    display: inline-block;
    color:inherit;
    font-size: 24px;
  }
.carousel-rating .preenchida{
    color: yellow;
    
  }
  

.slider-depoimentos{ 
    width: 25.3vw;
    display:flex;
    justify-content: start;
    height: auto;
    overflow: hidden; 
}
.slides-depoimentos{
    width: 500%;
    height: auto;
    display: flex;
}
.slides-depoimentos input{
    display:none;
}

.slide{
    transform: 2s;
}

/* css avegação manual do slide */
.title-depoimentos{
    position: absolute;
    width: 25vw;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.navegacao-manual{
    position: absolute;
    display: flex;
    justify-content: center;      
}
.manual-btn{
    border: 3px solid #B5986D;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transform: 1s;   
}

.manual-btn:not(:last-child){
    margin-right:90px;
}

.manual-btn:hover{
    background-color: #B5986D;
}

#radio1:checked ~ .primeiro{
    margin-left:0;
    transition: .9s;
}
#radio2:checked ~ .primeiro{
    margin-left:-25%;
    transition: 2s;
}
#radio3:checked ~ .primeiro{
    margin-left:-50%;
    transition: 2s;
}
#radio4:checked ~ .primeiro{
    margin-left:-75%;
    transition: 2s;
}



/* Fim Depoimentos */

/* Começo Midia */
.terceiro-container-background{
    background-image: url(../assets/background\ \ linear\ jornal\ antigo\ inclinado.png);
    background-size:contain;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100vw;
    position: relative;
    z-index: 2;
    top: -60px;
    pointer-events: none;
}
#midia{
    height: 105vh;
    display: flex;
    justify-content: center;
 
    
}
.container-jornal{
    width: 80vw;
}

.materia-1, .materia-2, .materia-3{
    text-align: justify;
    margin: 10px;
}
.midia-dados{
    font-family: 'Inter';
    font-weight: 600;
    letter-spacing: 2px;
}
/* Fim Midia */


/* Começo Desgustação */

.titulo-fundo-degustacao{
    font-size: clamp(2.3em, 3vw, 3.1em);
    font-weight: 1000;
    letter-spacing: 2.5px;
    font-family: 'Cormorant';
    text-transform: uppercase;
    background: linear-gradient(91.58deg, #b5986dad 0%, rgba(181, 152, 109, 0) 85.99%, rgba(181, 152, 109, 0) 1.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    /*opacity: 0.1; */
    position: absolute;
    top: 30.5%;
    transform: translateY(-50%), translateX(50%);
    left: 11.5%;
    margin: 0;
    padding: 0;
}
#degustacao{
position: relative;
}
.link-degustacao{
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
a.link-degustacao:active{
    color: #B5986D;
}
a.link-degustacao:link{
    color:#cab38f;
}
a.link-degustacao:hover{
    color:#724927;
} 
.text-degustacao{
    width: 30vw;
    text-align: justify;
}
/* Fim Degustação */



/* Começo Contato */
.quinto-container-background{


background-image: url(../assets/background-ondas-3d-vermelho-claro-escuro-vinho-quinto-background.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom bottom;
    height: auto;
    max-width: 100vw;
    position: relative;
    pointer-events: none;
}
.titulo-fundo-contato{
    font-size: clamp(2.3em, 3vw, 3.1em);
    font-weight: 1000;
    letter-spacing: 2.5px;
    font-family: 'Cormorant';
    text-transform: uppercase;
    background: linear-gradient(91.58deg, #b5986dad 0%, rgba(181, 152, 109, 0) 85.99%, rgba(181, 152, 109, 0) 1.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    /*opacity: 0.1; */
    position: absolute;
    top: 21.8%;
    transform: translateY(-50%), translateX(50%);
    left:41.4%;
    margin: 0;
    padding: 0;
}

.form-control-contato{
    background-color: transparent;
    border: none;
    border-bottom: #B5986D 1px solid;
    width: 300px;
}
.form-control-contato::placeholder{
    color: #B5986D;
}
.btn-contato{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #B5986D;
    width: 100px;
    text-align: left;
    color: #B5986D;
}
.btn-contato:hover{
    color: #724927;
}
.btn-contato::after{
    padding: 0;
    margin: 0;
}
.item-sublinha-texto-btn-contato{
    color: #B5986D;
    font-weight: 600;
    position: relative;
    bottom: 12.6px;
    left: 100px;
}
.container-form-contato{
    margin-top: 50px;
    margin-bottom: 60px;
}
    /* Fim contato */



/* Começo Footer */

footer{
    border-top: 2px solid #B5986D;
    height: 10vh;
    padding: 50px;
}
/* Fim Footer */